/* DESIGN IDEA
Name: Mystic Solitaire;
Color: black, white
Theme: Minimalistic, ascii art

Dark header
White background
Gray empty Card / black border
*/

:root{
    --main-bg-color: #1c1c1c;
    --main-text-color: #fff;
    --main-border-color: #000;
    --main-card-color: #808080;
    --main-card-border-color: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    background-color: var(--main-border-color);
    color: var(--main-text-color);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.container{
    display:grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 230px 230px;   
}

.score-board{
    display:flex;
    padding: 10px;
    justify-content: space-evenly;
    font-size: 1rem;
}

.card-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.card-stock-waste{display:flex;justify-content: space-between;width:315px;}

.card-organized{
    display: flex;
    justify-content: space-between;
    width:640px;
}

.card-border{
    overflow-wrap: wrap
}

.card-border, .card-waste{border:1px dotted var(--main-card-border-color);}

img, .card-border, .card-waste{
    width:152px;
    height:225px;
    border-radius:20px;
}

.aces, .waste{
    width:100%;
}
