:root{
    --main-bg-color: #1c1c1c;
    --main-text-color: #fff;
    --main-border-color: #000;
    --main-card-color: #808080;
    --main-card-border-color: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-image: url("../asset/marble-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
}

.navBar{
    background-color: var(--main-border-color);
    color: var(--main-text-color);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.container{
    display:grid;
    grid-template-areas:
        "header header header header header header header header header"
        "score-board score-board score-board score-board score-board score-board score-board score-board score-board"
        ". deck waste . wands coins swords cups ."
        ". pile pile pile pile pile pile pile ."
        ;
    gap:5px;
    grid-template-columns: repeat(9, 1fr);
}

.container > div{
    padding: 10px;
}

.container > div.header{
    grid-area: header;
    text-align: center;
    color:var(--main-text-color);
    background-color: var(--main-bg-color);
}

.container > .score-board{
    grid-area: score-board;
    text-align: center;
}

.container > .upper{
    grid-area: upper;
}

.container > .card-deck{
    grid-area: deck;
}

.container > .card-waste{
    grid-area: waste;
}

.container > .wands{
    grid-area: wands;
}

.container > .coins{
    grid-area: coins;
}

.container > .swords{
    grid-area: swords;
}

.container > .cups{
    grid-area: cups;
}

.pile{
    grid-area: pile;
}

.back, .front{width: 132px;}

.card-deck .back{
    position: relative;
    top:0;
    left:0;
}

.card-stock img{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

img, .card-deck, .card-border, .card-waste{
    width: 152px;
    height: 225px;
    border-radius:20px;
}

.aces, .waste{
    width:100%;
    border:2px dotted var(--main-card-color);
}
