

:root{
    --main-header-color: #1c1c1c;
    --main-text-color: #fff;
    --main-border-color: #000;
    --main-bg-color: #16F529 /*#C3C4C9*/;
    --main-card-border-color: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--main-bg-color);
}

.navBar{
    background-color: var(--main-border-color);
    color: var(--main-text-color);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    text-align: center;
    color:var(--main-text-color);
    background-color: var(--main-header-color);
}

.score-board{
    width:400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    line-height: 1.6;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.container{
    border: 1px solid var(--main-border-color);
    width:70%;
    height:540px;
    margin:10px auto;
}
