:root{
    --main-header-color: #1c1c1c;
    --main-text-color: #fff;
    --main-border-color: #000;
    --main-bg-color: #C3C4C9;
    --main-card-border-color: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    background-color: var(--main-border-color);
    color: var(--main-text-color);
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.container{
    background-color: var(--main-bg-color);
    display:grid;
    grid-template-areas:
        ". deck waste . wands coins swords cups ."
        ". pile pile pile pile pile pile pile ."
        ;
    gap:5px;
    grid-template-columns: repeat(9, 1fr);
    padding:10px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    text-align: center;
    color:var(--main-text-color);
    background-color: var(--main-header-color);
}

.score-board{
    width:400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.container > .upper{
    grid-area: upper;
}

.container > .card-deck{
    grid-area: deck;
}

.container > .card-waste{
    grid-area: waste;
}

.container > .wands{
    grid-area: wands;
}

.container > .coins{
    grid-area: coins;
}

.container > .swords{
    grid-area: swords;
}

.container > .cups{
    grid-area: cups;
}

.pile{
    grid-area: pile;
}

.back, .front{width: 132px;}

.card-deck .back{
    position: relative;
    top:0;
    left:0;
}

.card-stock img{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

img{
    width: 142px;
    height: 195px;
    border-radius:20px;
}

.aces, .waste{
    width:100%;
    border:2px dotted var(--main-card-color);
}
